<h1>Hola LABS este es mi primer proyecto</h1>
<h2>{{ welcome }}</h2>
<ul>
  @for (task of tasks(); track task) {
  <li> {{ task }} </li>
}
</ul>
<hr>
<h2>{{ 'Hola'.repeat(4) }}</h2>
<p> La suma es 3 + 3 = {{ 3 + 3 }}</p>
<p>Hola soy {{ name() }} y tengo {{ age }} años</p>
<p>Property Binding </p>
<img [src]="image" alt="Motocicleta" width="200px" height="200px">
<img [src]="person().image" alt="Motocicleta" width="200px" height="200px">
<br>
<input type="text" [value]="person.name">
<br>
<button [disabled]="disabled">Click me</button>
<hr>
<button (click)="clickHandler()">Click me!</button>
<br>
<button (dblclick)="clickHandler()">Click me two!</button>
<br>
<p>Evento change</p>
<input type="number" [value]="person().age" (change)="changeHandler($event)">
<p>Evento keydown</p>
<input type="text" [value]="person().name" (keydown)="keyBoardEvent($event)">
<p>Evento keydown personalizado</p>
<input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">

<!-- reactividad -->
<h2>Signals</h2>
<p>Nuevo nombre: </p>
<input type="text" [value]="name()" (change)="changeName($event)">

<!-- estructuras de control -->
<ul>
  @for (task of tasks(); track task; let i = $index) {
  <li> {{ i }}  {{ task }} </li>
}
</ul>

<p> total de elementos: {{ tasks().length }}</p>

<hr>

@if (1 !== 1) {
<div>
  my content
</div>
}

@if (name() === 'Francisco Candelario') {
<div>
  {{ name() }}
</div>
}

<hr>
<p>Edad actual:</p>
<input type="number" [value]="person().age" (change)="changeAge($event)">
<br>
@if (person().name === 'Francisco Candelario' && person().age > 21) {
<div>
  Soy {{ person().name }} y soy mayor de edad. Tengo {{ person().age }} años
</div>
} @else {

  No puedes visualisar esto, eres menor de edad

}


<!-- ngswitch -->
<br>
<hr>
<p>Nombre de person.name</p>
<input type="text" [value]="person().name" (change)="changeNamePerson($event)">
<div>
@switch (person().name) {
  @case ('Francisco Candelario') {
  <p> Soy Francisco </p>
}
  @case ('Juliana') {
  <p> Soy Juliana</p>
}
  @default {
  <p>No te conozco amigo</p>
}
}
</div>
<hr>
<h3>Formularios</h3>
<input type="color" [formControl]="colorCtrl">
<p>Color: {{ colorCtrl.value }}</p>

<!-- Estilos -->
<svg>
  <g>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
  </g>
</svg>

<hr>
<p>Controalando estilos css</p>

<input type="number" [value]="widthCtrl.value" [formControl]="widthCtrl">
<span class="box" [style.width.px]="widthCtrl.value"></span>
<hr>
<br>
<p>
  <input type="text" [formControl]="nameCtrl" > <br>
  <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>  
</p>

<p>
  <input type="text" name="" id="">
</p>

<h2>Sintaxis Angular 17</h2>

<!-- Sintaxis if - else -->
@if ( name() === 'nicolas'){
  <p>Soy nicolas</p>
} @else {
  <p> No soy Nicolas, soy {{ name() }}</p>
}

<!-- estructuras de control -->
<p>Nuevo FOR</p>
<ul>
  @for(task of tasks(); track task; let i = $index){
    <li> {{ i }}  {{ task }} </li>
  } @empty {
    <li> No hay elementos</li>
  }
</ul>

<p>Nuevo swtich</p>
<div>
  @switch (person().name) {
    @case ('Francisco Candelario') {
      <p> Soy Francisco </p>
    }
    @case ('Juliana') {
      <p> Soy Juliana</p>
    }
    @default {
      <p>No te conozco amigo</p>
    } 
  }
</div>

